swagger: "2.0"
info:
  version: 1.0.0
  title: Gas and Electricity Usage
  description: Gives a real time current and previous months usage of Gas and Electricity Services   
host: private-b4f96-energy1.apiary-mock.com
basePath: /api
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  /usage/current/month/4859634:
    x-summary: Current Month 4859634
    x-description: |
        Returns gas and electricity usage of current month for the account number: 4859634. 
    get:
      responses:
        200:
          description: Gas & Electricity usage response for current month
          examples:
            application/json:
                [
        					{
        						"account_number": "4859634",
        						"name": "Darko",
        						"gas_usage": "20,006 Btu",
        						"gas_cost": "46,896",
        						"electricity_usage": "3,430 kW",
        						"electricity_cost": "12,932",
        						"environment": "Japan 1"
        					}
        				]
          schema:
            $ref: '#/definitions/Usage'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    
  /usage/last/month/4859634:
    x-summary: Last Month 4859634
    x-description: |
        Returns gas and electricity usage of last month for the account number: 4859634. 
    get:
      responses:
        200:
          description: Gas & Electricity usage response for last month
          examples:
            application/json:
                [
        					{
          					"account_number": "4859634",
          					"name": "Darko",
          					"gas_usage": "30,000 Btu",
          					"gas_cost": "¥ 56,436",
          					"electricity_usage": "2,920 kW",
          					"electricity_cost": "¥ 8,210",
          					"environment": "Japan 1"
        					}
        				]
          schema:
            $ref: '#/definitions/Usage'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'    
  /usage/current/month/5845241:
    x-summary: Current Month 5845241
    x-description: |
        Returns gas and electricity usage of current month for the account number: 5845241.     
    get:
      responses:
        200:
          description: Gas & Electricity usage response for current month
          examples:
            application/json:
                [
        					{
        						"account_number": "5845241",
        						"name": "John",
        						"gas_usage": "45,200 Btu",
        						"gas_cost": "¥ 73,295",
        						"electricity_usage": "0 kW",
        						"electricity_cost": "¥ 0",
        						"environment": "Japan 1"
        					}
        				]
          schema:
            $ref: '#/definitions/Usage'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'
    
  /usage/last/month/5845241:
    x-summary: Last Month 5845241
    x-description: |
        Returns gas and electricity usage of last month for the account number: 5845241.    
    get:
      responses:
        200:
          description: Gas & Electricity usage response for last month
          examples:
            application/json:
                [
        					{
          					"account_number": "5845241",
          					"name": "John",
          					"gas_usage": "923,100 Btu",
          					"gas_cost": "¥ 453,332",
          					"electricity_usage": "0 kW",
          					"electricity_cost": "¥ 0",
          					"environment": "Japan 1"
        					}
        				]
          schema:
            $ref: '#/definitions/Usage'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'                
definitions:
  Usage:
    required:
      - account_number
    properties:
      account_number:
        type: string
  Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string